.container{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.container > p {
    margin: 2rem 0rem;
}

.meerTitel {
    composes: userTitel from "./../../styles/typo.module.css";
    width: 80%;
}
