.container {
    background-image: url(./../../assets/user/BgMore.png);
    height: 35rem;
    margin-bottom: 4.6rem;
    padding: 1rem;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > p {
    margin: 2rem 0rem;
}

.meerTitel {
    composes: userTitel from "./../../styles/typo.module.css";
    width: 80%;
    margin: 3rem 0rem 1rem 0rem;
}
