.header {
    position: fixed;
    top: 0;
    width: 133.6rem;
    height: 9.7rem;
    background-color: var(--lighter-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoName{
    font-family: Montserrat; 
    font-size: 3.6rem;
    font-weight: bold; 
    color: var(--primary-color);
    padding-left: 2rem;
}

.logout {
    width: 26.7rem;
    height: 9.7rem;
    background-image: url(./../../assets/admin/BgLogout.png);
    background-color: var(--lighter-color);
    border: none;
    color: white;
    font-family: Montserrat; 
    font-size: 3.6rem;
    font-weight: bold; 
    text-align: right;
    padding-right: 5rem;
}