.container {
    display: grid;
    grid-template-columns: repeat(3, auto);  
    width: 95.8rem;
    margin-left: -4.5rem;
}

.item {
    width: 30rem;
    height: 21rem;
    margin: 0rem 2rem;
}

.titel {
    font-size: 1.7rem;
    font-weight: 200;
    text-align: center; 
    margin: 2rem 0rem;
    color: var(--primary-color);
}

.selection {
    margin-bottom: 3rem;
}