.container { 
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0.4rem 1.5rem rgba(198, 148, 175, 0.7);
}

.navigatie {
    height: 4.6rem;
    background-color: white; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
