.layout {
    /* main */
    max-width: 37.5rem;
    background-image: url(./../assets/user/background.png);
    background-repeat: no-repeat;
}

.content {
    background-image: url(./../assets/user/BackgroundDriehoek.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 2rem;
    min-height: 76.6rem;
    margin-bottom: 4.6rem;
}

.line {
    height: 0.2rem;
    border-bottom: 0.2rem solid var(--primary-color);
    margin: 2rem 0rem; 
}

.hidden {
    visibility: hidden;
}