@import "./colors.module.css";

:global(:root){
    --font-base-user: 1.7rem;
    --font-base-admin: 2rem;
    --font-family: "Open Sans"; 
}

.userTitel {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.8rem;
    font-weight: bold;
    height: 3.5rem;
    width: 18rem;
    composes: color-primary from "./colors.module.css";
    composes: line from "./layout.module.css";
    margin: 4rem 0 3rem 0 ;
}

.userParagraphs {
    font-size: var(--font-base-user)
}

.adminTitel {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
    height: 4.4rem;
    width: 93.6rem;
    composes: color-primary from "./colors.module.css";
    composes: line from "./layout.module.css";
    margin: 4rem 0 3rem 0 ;
}

.adminKleineTitel {
    font-family: 'Montserrat';
    font-size: 1.7rem;
    font-weight: bold;
    composes: color-primary from "./colors.module.css";
}

.adminParagraphs {
    font-size: var(--font-base-admin);
}
