.button {
    width: 18rem;
    height: 5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.7rem;
}

.roundedButton {
    width: 13rem;
    height: 13rem;
    background-color: var(--primary-color);
}

.listItem {
    color: black;
    border: 0.2rem solid var(--primary-color);
    font-size: 1.7rem;
    background-color: white;
}
